node_modules/
.next/
out/
.DS_Store
*.log
.env*.local

# Rails
server/tmp/
server/log/
server/db/*.sqlite3
server/db/*.sqlite3-*
server/coverage/
server/.byebug_history
server/config/master.key
server/config/credentials/*.key
server/storage/
